services:
  node:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${PROJECT_NAME}-node
    working_dir: /application
    volumes:
      - ./../:/application
    networks:
      - internal
    ports:
      - '${PORT:-3000}:3000'
      - '5555:5555'
    env_file:
      - .env
    depends_on:
      - pgsql
      - redis
      - minio
    stdin_open: true
    tty: true

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${PROJECT_NAME}-worker
    working_dir: /application
    command: npm run start:worker
    volumes:
      - ./../:/application
    env_file:
      - .env
    depends_on:
      - redis
      - pgsql
      - minio
    networks:
      - internal
    restart: unless-stopped

  pgsql:
    image: postgres:13
    container_name: ${PROJECT_NAME}-pgsql
    env_file:
      - .env
    environment:
      PGPASSWORD: '${DB_PASSWORD}'
      POSTGRES_DB: '${DB_DATABASE}'
      POSTGRES_USER: '${DB_USERNAME}'
      POSTGRES_PASSWORD: '${DB_PASSWORD}'
    volumes:
      - ./sourcefiles/pgsql:/tmp
      - 'pg-data:/var/lib/postgresql/data'
    ports:
      - '${DB_PORT}:5432'
    networks:
      - internal

  redis:
    image: redis:7-alpine
    container_name: ${PROJECT_NAME}-redis
    restart: always
    env_file:
      - .env
    environment:
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
    ports:
      - '${REDIS_PORT}:6379'
    networks:
      - internal

  minio:
    image: minio/minio:latest
    container_name: ${PROJECT_NAME}-minio
    env_file:
      - .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    ports:
      - '${MINIO_PORT:-9000}:9000'
      - '${MINIO_CONSOLE_PORT:-9001}:9001'
    networks:
      - internal

volumes:
  pg-data:
    driver: local
  minio-data:
    driver: local
networks:
  internal:
    driver: bridge
